<?xml version="1.0" encoding="utf-8"?>
<SenparcConfigs>
	<!-- Local 开始 -->
	<SenparcConfig>
		<Id>1</Id>
		<Name>Local-Sqlite</Name>
		<!--本地数据库-->
		<ConnectionStringFull><![CDATA[Filename=:memory:]]></ConnectionStringFull>
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	<!-- Local 结束 -->
</SenparcConfigs>